*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(235, 235, 235);
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.tabs {
  position: relative;
  margin-top: 1em;
}
.tab,
.tab-title {
  display: inline-block;
}
.tab input[type='radio'] {
  display: none;
}
.tab-title {
  position: relative;
  top: 1px;
  background: transparent;
  padding: 5px 10px;
  border: 2px solid gray;
  border-radius: 2px;
  border-bottom: none;
  margin-left: 5px;
  cursor: pointer;
  text-transform: capitalize;
}
.tab-content {
  position: absolute;
  border: 2px solid gray;
  padding: 10px;
  left: 0;
  width: calc(100% - 20px);
  flex-wrap: wrap;
  background-color: #fff;
}
.tabs-content__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.tab section {
  display: none;
}
.tab.active section {
  display: flex;
}
.tab.active .tab-title {
  background-color: #fff;
}
@media (max-width: 430px) {
  .tabs {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  .tab-content {
    top: 100%;
    width: inherit;
  }
  .tab {
    flex-grow: 1;
  }
  .tab-title {
    display: block;
  }
  /* .tab-title {
    width: 100%;
  } */
}
@media (max-width: 332px) {
  .tab-title {
    margin-left: 2px;
  }
}
